<header>
  <nav>
    <a href="/" class="logo">Overlegplatform Ad's</a>
    
    <button class="hamburger">☰</button>

    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/over-ads">Over Ad's</a></li>
      <li><a href="/publicaties">Publicaties</a></li>
      <li><a href="/talent-award">Talent Award</a></li>
      <li><a href="/nieuws">Nieuws</a></li>
      <li><a href="/ad-dag" class="button-blue">Kom naar Ad-dag</a></li>
    </ul>
  </nav>
</header>