<header>
  <nav>
    <a href="/" class="logo">
      <img src="/images/logo-dark-blue-adconnect.svg" alt="Overlegplatform Ad's" width="150" height="40">
    </a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/over-ads">Over Ad's</a></li>
      <li><a href="/publicaties">Publicaties</a></li>
      <li><a href="/talent-award">Talent Award</a></li>
      <li><a href="/nieuws">Nieuws</a></li>
    </ul>
    <a href="/ad-dag" class="button-blue">Kom naar Ad-dag</a>
  </nav>
</header>