{% render 'partials/head.liquid' %}
<main>
    <h1>{{ statusCode }}</h1>
    <p>{{ message }}</p>
    <img src="/images/error-screaming-cat.jpeg" alt="error">
</main>

{% render 'partials/foot.liquid' %}