{% assign pageTitle = article.title | append: ' | Ad Connect' %}
{% render 'partials/head.liquid', title: pageTitle, css: 'nieuws-detail' %}

<main>
    <section id="article-header">
        <h1>{{ article.title }}</h1>
        <p>{{ article.author }}</p>
        <p>{{ article.date | date: '%d %B %Y' }}</p>
    </section>   

    <div id="article-body">
        {{ article.body | raw }}
    </div>

    {% render 'partials/reacties.liquid', article: article, succes: succes, error: error %}

</main>

{% render 'partials/foot.liquid' %}